<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body style="display: flex; justify-content: center;
 align-items: center; height: 100vh; margin: 0;">
    <div style="transform: translateY(-10%);">  
        <header style="text-align: center;">
            <h1>My Flask App</h1>
        </header>

        <main style="text-align: center;">
            {% block content %}
            <!-- Treść strony -->
            {% endblock %}
        </main>

        <footer style="text-align: center; margin-top: 20px;">
            <p>&copy; 2024 My Flask App</p>
        </footer>
    </div>
</body>
</html>